@keyframes colorFade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.gridHeader {
  position: relative;
  height: 144px;
  background-size: 18px 18px;
  overflow: hidden;
  border-bottom: 1px solid var(--color-neutral100);
  z-index: 0;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: 18px 18px;
  }

  &::before {
    z-index: 1;
    background-image: repeating-linear-gradient(
        90deg,
        transparent,
        transparent 17px,
        var(--color-neutral100) 18px
      ),
      repeating-linear-gradient(
        0deg,
        transparent,
        transparent 17px,
        var(--color-neutral100) 18px
      );
  }

  &::after {
    z-index: 2;
    background-image: repeating-linear-gradient(
        90deg,
        transparent,
        transparent 17px,
        var(--color-neutral150) 18px
      ),
      repeating-linear-gradient(
        0deg,
        transparent,
        transparent 17px,
        var(--color-neutral150) 18px
      );
    animation: colorFade 5s ease-in-out infinite;
  }
}

.header {
  z-index: 3;
}

.shapesArray {
  z-index: 4;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.opacity5 {
  opacity: 0.05;
}

.opacity10 {
  opacity: 0.1;
}

.opacity20 {
  opacity: 0.2;
}

.opacity30 {
  opacity: 0.3;
}

.opacity100 {
  opacity: 1;
}

.rotate90 {
  transform: rotate(90deg);
  transform-origin: center center;
}

.rotate180 {
  transform: rotate(180deg);
  transform-origin: center center;
}

.rotate270 {
  transform: rotate(270deg);
  transform-origin: center center;
}

.circle {
  display: block;
  width: 18px;
  height: 18px;
  background-color: var(--color-primary600);
  border-radius: 50%;
}

.triangle {
  display: block;
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 16px solid var(--color-primary600);
}

.semiCircle {
  display: block;
  width: 18px;
  height: 9px;
  background-color: var(--color-primary600);
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

.lShape {
  display: block;
  position: relative;
  width: 18px;
  height: 18px;

  & > span:first-child {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 8.5px;
    background-color: var(--color-primary600);
  }

  & > :last-child {
    display: block;
    position: absolute;
    top: 8px;
    left: 0;
    width: 8px;
    height: 9px;
    background-color: var(--color-primary600);
  }
}

.filters {
  width: 100%;
  padding: 24px 0;
  border-bottom: 1px solid var(--color-neutral150);
}

.categories {
  width: 100%;
  padding: 24px 0;
  border-bottom: 1px solid var(--color-neutral150);
}

.category {
  display: block;
  width: 100%;
  height: 32px;
  line-height: 32px;
  color: var(--color-neutral800);
  font-size: 14px;
  text-decoration: none;
  transition:
    padding 0.3s,
    background 0.2s ease-in;

  &:hover {
    color: var(--color-primary600);
    font-weight: 600;
    padding: 0 12px;
    border-radius: 4px;
    background-color: var(--color-neutral100);
  }
}

.activeCategory {
  color: var(--color-primary600);
  font-weight: 600;
  padding: 0 12px;
  border-radius: 4px;
  background-color: var(--color-neutral100);
}

.actionCards {
  width: 100%;
  padding: 24px 0;
}
