.actionCard {
  position: relative;
  padding: 12px;
  font-size: 12px;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.2s ease-in;

  > .actionCardIcon {
    position: absolute;
    top: 13px;
    right: 12px;
    color: var(--color-neutral800);
  }

  > .actionCardTitle {
    color: var(--color-neutral800);
    font-size: 14px;
    font-weight: 600;
  }

  > .actionCardText {
    padding: 8px 0;
    color: var(--color-neutral600);
  }

  > .actionCardButton {
    width: 100%;
    margin-top: 8px;
  }
}

.purpleBg {
  background-color: var(--color-primary100);
  border: 1px solid var(--color-primary200);

  &:hover {
    background-color: var(--color-primary200);
  }
}

.greenBg {
  background-color: var(--color-success100);
  border: 1px solid var(--color-success200);
}

.redBg {
  background-color: var(--color-danger100);
  border: 1px solid var(--color-danger200);
}
